html {
    background-color: #F5F3EF;
}

h1, h2, h3 {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto Serif';
    margin-bottom: 20px;
    width: auto;
    
}

p {
    font-family: 'Roboto';
    margin-top: 0;
}

/* NAVBAR CODE BELOW */

.grid-logo {
    display: flex;
    justify-content: center;
}

.grid-navBar-container {
    display: grid;
    grid-template-columns: 1fr 1fr 8fr 1fr;
    align-items: center;
    text-align: center;
    
    margin: 10px 50px 50px 50px;
}

.grid-navItem1, .grid-navItem2 {
    display: flex;
    justify-content: center;
}

#navBar-button {
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 20px;
    font-family: 'Roboto';
    padding: 5px;
}

/* MAINBOX CODE BELOW */

.grid-mainBox-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 50px 50px 50px;
}

.mainPicture {
    display: flex;
    width: 350px;
}

/* CARDS CODE BELOW */

.grid-cards-container {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    
    height: auto;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
}

.grid-cards {
    width: 200px;
    height: 200px;
    background-color: #FFFFFF;
    border-radius: 20px;
    text-align: left;
    padding: 20px;
    margin: 10px;
}

.grid-yellow-card {
    width: 200px;
    height: 200px;
    background-color: #FEBD2F;
    border-radius: 20px;
    text-align: left;
    padding: 20px;
    margin: 10px;
    font-size: larger;
    font-family: 'Roboto Serif';
}

.card-button {
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
}

/* FOOTER CODE BELOW */

footer {
    display: flex;
    background-color: #FEBD2F;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
